@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

#seccionCompra {
    height: 110vh;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 100%;
    transition: opacity 0.5s ease, visibility 0.5s ease, top 0.5s ease;
    margin-top: 5%;
}







/* DIV DE SESIONES */

.seccion-compra-contenido {
    display: flex; /* Convierte este contenedor en Flexbox */
    flex-direction: row; /* Organiza los hijos en fila (uno al lado del otro) */
    width: 95%; /* Ocupa todo el ancho del padre (#seccionCompra) */
    height: 100%; /* Ocupa toda la altura del padre */
    padding: 15px; /* Añade un poco de padding interno */
    box-sizing: border-box; /* Incluye padding en width/height */
}


.seccion_asientos {
    width: 60%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 15px; /* Añade padding interno a cada mitad */
    box-sizing: border-box; /* Incluye padding en width/height */
    border-left: 1px solid white;
}


.seccion_sesiones {
    width: 40%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #f0f0f0; /* Color de texto para esta mitad */
}

/* Estilos para los elementos dentro del grid de la mitad izquierda */
.day-column {
    /* Estilos para las columnas de los días */
    text-align: center;
    font-weight: bold;
    /* grid-column se definirá en JS */
}

.day-info {
    width: 15%;
}

.session-row {
    display: flex;
    flex-direction: row;
}

.session-day,
.session-time {
    /* Estilos para los elementos individuales de día/hora si no usas divs separados para columnas */
    /* Puedes añadir padding, bordes, hover effects aquí */
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
}

.times-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 5%;
}

.session-time:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Estilos específicos para el contenido de la derecha si es necesario */
.right-half .movie-container,
.right-half .showcase,
.right-half .container,
.right-half .text-wrapper {
    margin-bottom: 20px; /* Espacio entre las secciones dentro de la mitad derecha */
}


/* Asegúrate de que el contenido dentro de .right-half se ajusta bien */
.right-half .container {
    /* Estilos para el contenedor de asientos */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-half .row {
    /* Estilos para las filas de asientos */
    display: flex;
    margin-bottom: 10px;
}

.right-half .seat {
    /* Estilos para los asientos */
    background-color: #606060; /* Gris oscuro */
    height: 25px;
    width: 25px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.right-half .seat.selected {
    background-color: #e67e22; /* Naranja */
}

.right-half .seat.occupied {
    background-color: #f00; /* Rojo */
    cursor: not-allowed;
}

.right-half .showcase li {
     display: flex;
     align-items: center;
     margin: 0 10px;
}
.right-half .showcase li small {
    margin-left: 5px;
}
.right-half .showcase li .seat {
    cursor: default; /* No cursor de puntero en la leyenda */
}

.right-half .screen {
    background-color: #ccc;
    height: 70px;
    width: 100%;
    margin: 20px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.screen {
    justify-self: center;
}

.right-half .text-wrapper {
    margin-top: 20px;
    text-align: center;
    color: #f0f0f0;
}

.right-half .text span {
    color: #e67e22; /* Naranja para los números */
}


/* Estilo para el botón "Volver" */
#cerrarCompra {
    padding: 10px 20px;
    color: white;
    background-color: #555; /* Gris */
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Espacio debajo del botón de volver */
}

#cerrarCompra:hover {
    background-color: #777; /* Gris más claro al pasar el ratón */
}


/* Estilo para el botón "Comprar Entradas" en la sección de compra */
.confirmar_seleccion {
    width: fit-content;
    padding: 5px 10px;
    margin: 2% 0;
    color: white;
    background-color: #d12d10;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirmar_seleccion:hover {
    background-color: #831d0b;
}














/* DIV DE ASIENTOS */

.seccion_asientos_header {
    padding: 10px 10px 0 10px;
}

.contenedor_principal_asientos_header {
    display: flex; /* Activamos Flexbox */
}

.columna_izquierda {
    width: 70%; /* Ocupa el 60% del ancho */
    display: flex;
    flex-direction: column; /* Los elementos internos se apilan verticalmente */
    justify-content: space-between;
}

.superior_izquierda {
    /* Aquí puedes añadir estilos específicos si los necesitas, como padding, etc. */
    margin-bottom: 10px; /* Espacio entre el título y la leyenda de asientos */
}

.pelicula_asientos {
    font-size: 2.5em; /* Ejemplo de estilo para el título */
    font-weight: bold;
}

.columna_derecha {
    width: 30%; /* Ocupa el 40% del ancho */
    padding-left: 20px; /* Un poco de espacio para separarlo de la columna izquierda */
    box-sizing: border-box; /* Para que el padding no aumente el ancho total */
    display: flex;
    flex-direction: column; /* Apila los elementos de información verticalmente */
    justify-content: center; /* Alinea los elementos al inicio (arriba) */
    align-items: flex-end;
}

.columna_derecha div {
    margin-bottom: 8px;
    font-size: 1.2em;
    text-align: center;
}

.header_genero {
    border: 1px solid white;
    width: fit-content;
    padding: 5px 15px;
}



.inferior_izquierda {
    display: grid; /* Activamos CSS Grid */
    grid-template-columns: repeat(2, 1fr); /* Creamos 2 columnas de igual fracción del espacio disponible */
    grid-template-rows: auto auto; /* Definimos dos filas, la altura se ajustará al contenido */
    gap: 10px;
    
}

.header_div {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
}



.header_titulo {
    color: #6feaf6;
    font-size: 1em;
}



.container {
    perspective: 100px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seat{
    background-color: #444451;
    height: 22px;
    width: 26px;
    margin: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform .3s ease;
}


.seat.selected {
    background-color: #6feaf6;
}

.seat.occupied {
    background-color: #d12d10;
}

.seat:not(.occupied):not(.selected):hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #767990;
}

.seat.selected:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: #aef8fe;
}

.gap {
    background-color: transparent;
    border-radius: 0;
    height: 24px;
    width: 30px;
    margin: 3px;
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 15px 10px 0px 10px;
    border-radius: 5px;
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.leyenda_text {
    margin-left: 6%;
}

.row {
    display: flex;
}

.screen {
    background-color: white;
    height: 20px;
    width: 75%;
    margin: 5% 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
    margin: 5px 0;
}

p.text span {
    color: #6feaf6;
}


/* Estilos del listado de los asientos seleccionados */
.listado_asientos {
    display: flex;
}

.listado_asientos_borde {
    border-bottom: 1px solid white;
}

.columna_izquierda_lista {
    width: 70%; /* Ocupa el 60% del ancho */
    display: flex;
    flex-direction: column; /* Los elementos internos se apilan verticalmente */
    justify-content: space-between;
}

.columna_izquierda_titulo {
    color: #6feaf6;
    font-size: 1.2em;
}

.columna_derecha_titulo {
    color: #6feaf6;
    font-size: 1.2em;
}



.columna_derecha_lista {
    width: 30%; /* Ocupa el 40% del ancho */
    padding-left: 20px; /* Un poco de espacio para separarlo de la columna izquierda */
    box-sizing: border-box; /* Para que el padding no aumente el ancho total */
    display: flex;
    flex-direction: column; /* Apila los elementos de información verticalmente */
    justify-content: center; /* Alinea los elementos al inicio (arriba) */
    align-items: flex-end;
}

.columna_derecha_lista div {
    margin-bottom: 8px;
    text-align: center;
}





/* VARIOS */

  /* Cuando se activa (por ejemplo, al hacer clic en el botón) */
.visible {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.hidden {
    display: none;
}

/* Botón de cerrar */
.cerrar-button {
    justify-self: end;
}

.text-wrapper {
    display: flex;
    align-items: center;
    gap: 20px; /* separación entre el texto y el botón */
    margin-top: 20px;
}

#confirmarCompra {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    background-color: #6feaf6;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#confirmarCompra:hover {
    background-color: #4ac0d1;
}

